**Name**: {{ name }}
**File**: [{{ filename }}](https://github.com/fedoraredteam/compliant/blob/master/{{ filename }}#L{{ line_number }})
**Tags**:

```
{% for tag in tags %}- {{ tag }}
{% endfor %}
```